.nav {
  background-color: #f9f9fa;
  padding: 10px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
/* box-sizing? padding을 주면, 지정한 box크기 값을 유지하기 위해 padding만큼 늘어난다.
그래서 아니야 box는 border를 box로 인식해. 라고 해주면, border size가 지정한 box 사이즈를 유지해야 하기 때문에 내부 box가 padding 만큼 준다.  */

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

@keyframes spinningbadge {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateY(180deg) translateY(-10px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  right: -15px;
  top: -20px;
}

.nav__notification,
.badge {
  animation: spinningbadge 1s infinite;
}

@keyframes Btnshowup {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  animation: Btnshowup 1s ease-in-out;
}

.nav__btn:nth-child(2) {
  animation: Btnshowup 1.5s ease-in-out;
}

.nav__btn:nth-child(3) {
  animation: Btnshowup 2s ease-in-out;
}

.nav__btn:nth-child(4) {
  animation: Btnshowup 2.5s ease-in-out;
}
